#alt {
  color: #f3c5c6;
}

#content {
  gap: 1rem;
  display: flex;
  padding: 1rem;
  align-items: start;
  flex-wrap: wrap;
  justify-content: space-between;
}

#content ol {
  padding: 0 1.5rem;
  list-style: decimal;
}

#content section {
  width: calc(60% - 1rem);
}

#content aside {
  width: calc(40% - 1rem);
}

@media screen and (max-width: 500px) {

  #content section,
  #content aside {
    width: 100%;
  }

}

.howto {
  position: relative;
}

.download {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.download {
  background-image: url(../inn/icon.png);
  background-position: center;
  background-size: contain;
  background-clip: border-box;
  width: 10rem;
  height: 10rem;
}

.download:hover {
  filter: grayscale();
}