html {
  font-size: 16px;
  height: -webkit-fill-available;
}

@media screen and (max-width: 750px) {
  html {
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 2.75vw;
  }
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "MS Mincho";
  src: url("https://pe-hu.github.io/ver/font/MSMincho.ttc");
}

@font-face {
  font-family: "SimSong";
  src: url("https://pe-hu.github.io/ver/font/SimSun.ttc");
}

@font-face {
  font-family: "ヒラギノ丸ゴ Pro W4";
  src: url("HiraMaruPro-W4.otf");
}

body {
  font-family: "ヒラギノ丸ゴ Pro W4", "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro", "HG丸ｺﾞｼｯｸM-PRO", "HGMaruGothicMPRO", sans-serif;
}

body,
header button {
  padding: 0;
  margin: 0;
}

#date,
#modal,
fieldset {
  padding: 0.5rem;
}

a.link,
select,
#content u {
  padding: 0.25rem;
}

legend {
  padding: 0.25rem 0;
  margin: 0.25rem;
}

#liveBtn {
  padding: 0.25rem;
  margin: 1rem 0 0;
}

a {
  color: #000;
  text-decoration: none;
}

a.link {
  border: 0.123rem solid #f3c5c6;
  display: inline-block;
  transition: 0.5s;
}

#content u {
  text-decoration: none;
}

a.link:hover,
button:hover,
#date:hover {
  cursor: pointer;
}

a.link:hover,
#date:hover,
#content u {
  color: #fff;
}

button,
select,
#live h2,
#content b {
  color: #f3c5c6;
}

a.link:hover,
#date:hover,
#content u {
  background-color: #f3c5c6;
}

h1,
h2,
h3 {
  font-weight: 500;
}

h1,
h3,
#modal button {
  font-size: 150%;
}

#date,
#modal,
select {
  font-size: 125%;
}

h2,
#note,
#content a,
#content b {
  font-size: 111%;
}

h1 img,
#content h2,
#content img,
hr {
  width: 100%;
}

h1,
.logo {
  max-width: 550px;
}

#alt,
#note {
  max-width: 90%;
}

button,
select {
  appearance: none;
  background: transparent;
  font-family: inherit;
}

button,
select,
fieldset {
  border: none;
  outline: none;
}

header button {
  background-image: url(../inn/icon.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 55px;
  height: 55px;
}

#closeBtn {
  float: right;
}

hr {
  border: none;
  clear: both;
}

.pehu {
  font-family: "MS Mincho", "SimSong", serif;
}
