#randomdraggable,
#randomdraggable li {
  padding: 0;
  margin: 0;
}

#randomdraggable {
  place-self: end;
  display: flex;
  gap: 0.5rem;
  list-style: none;
  padding: 1rem;
  margin: 0;
  overflow-x: auto;
  width: 100%;
  height: 20vh;
}

#randomdraggable li {
  border: 2.5px solid transparent;
  transition: 0.25s;
}

#randomdraggable li:hover {
  border: 2.5px solid #fff;
  cursor: pointer;
}

#randomdraggable li,
#randomdraggable li img {
  border-radius: 0.25rem;
}

#randomdraggable li img {
  height: 100%;
  width: auto;
}

#randomdraggable::-webkit-scrollbar {
  width: 2rem;
  height: 2rem;
  background: #fff;
}

#randomdraggable::-webkit-scrollbar-thumb {
  border-radius: 2.5rem;
  background: #f3c5c6;
}