main {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
    width: 100%;
    overflow: auto;
}

@media (orientation: landscape) {
    main {
        min-height: 100vh;
    }
}

@media (orientation: portrait) {
    main {
        min-height: -webkit-fill-available;
    }
}

#player {
    height: 100vh;
    max-height: -webkit-fill-available;
}

header {
    position: fixed;
    z-index: 100;
}

header,
main {
    top: 0;
    left: 0;
    right: 0;
}

header,
footer {
    width: 100%;
    gap: 1rem;
    padding: 0.5rem;
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    justify-content: space-between;
}

#randomdraggable {
    place-self: end;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    list-style: inside none;
    padding: 1rem;
    margin: 0;
    overflow-x: auto;
    width: 100%;
}

#randomdraggable li {
    flex: auto;
    height: 10rem;
    max-height: 15vw;
}

#randomdraggable li img {
    border: 2.5px solid transparent;
    border-radius: 0.5rem;
    transition: 0.5s;
}

#randomdraggable li img:hover {
    border: 2.5px solid #fff;
    cursor: pointer;
    filter: brightness(1.5);
}

#randomdraggable li img {
    height: 100%;
    width: auto;
}

#randomdraggable li iframe {
    width: 7.25rem;
    max-width: 11vw;
    height: 100%;
}