#content,
#content aside#link {
  display: flex;
}

#content {
  gap: 1rem;
  padding: 1rem;
  align-content: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: calc(100vh - 3.5rem);
}

#content aside#link {
  align-items: flex-start;
  flex-flow: column;
}

#userAgent,
.download {
  display: block;
}

#content ol {
  padding: 0 1.5rem;
  list-style: decimal;
}

#content section {
  width: calc(60% - 1rem);
}

#content aside {
  width: calc(40% - 1rem);
}

#userAgent {
  margin: 0.5rem 0;
}

#content aside#link u,
#content aside a {
  margin-bottom: 0.5rem;
}

#content h2 {
  margin: 0 0 2rem;
}

@media screen and (max-width: 820px) {

  #content section,
  #content aside {
    width: 100%;
  }

}

@media print {
  .noprint {
    display: none;
  }
}

.howto {
  position: relative;
}

.download {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.download {
  background-image: url(../logo/icon.png);
  background-position: center;
  background-size: contain;
  background-clip: border-box;
  width: 10rem;
  height: 10rem;
  z-index: 10;
}

.download:hover {
  filter: grayscale();
}