html, body {overflow-x: hidden; font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO"; margin:0; padding:0;}
a {color: #000; text-decoration: none; cursor:pointer;}
b {color: #f3c5c6;}
.pehu, .presents {position:fixed; z-index:100;}
.pehu {color:#000; font-family: "MS Mincho"; display:inline-block; margin:2vh 2.5vw; font-size:1.5vw; left:0;}
.presents {color:#f3c5c6; float: right; margin:1.5vh 2.5vw; font-size:2vw; right:0;}
#greeting {color:#000; margin:2.5vh 0 0 2.5vw; font-size:1.5vw; width:60vw; float:left;  position:relative;}
h1 {font-size:2.5vw; font-weight:500;}
.link {color:#f3c5c6; padding:1vw 2vw; border: 0.2vw solid #f3c5c6; position:relative;}
.link:hover {color: #fff; background-color: #f3c5c6;}
.logo {width:100%; margin-top:2.5em;}
.text {padding:0 2vw;}
#howto ol {padding:0 2.5vw; pointer-events:none;}
#howto li {font-size:1.5vw; padding:1vw;}
#howto a {font-size:1.5vw;}
h2 {padding:7vw 2.5vw 0; font-size:1.75vw; font-weight:500; clear:both;}
#howto {width:30vw; float:right; position:relative; padding-right:2.5vw; font-size:2vw; margin-top:5vh;}

hr {clear:both; padding:5.5vh 0 0; border:none;}

.done {
    font-size:1.25rem;
    text-align:center;
    line-height:5rem;
    color:#fff;
	background:#f3c5c6;
	border-radius:50%;
	margin:0;
	z-index:1;
	position:absolute;
	top:50%; left:45%;
	-webkit-transform:translate(-50%,50%);
	transform:translate(-50%,-50%);
	display:block;
	width:5rem; height:5rem;
}
.done:hover {
  color:#f3c5c6;
  background:#fff;
}
.done:before {
  content: "";
  position: absolute;
  bottom: -0.75rem;
  left: 1.75rem;
  border: 1.5rem solid transparent;
  border-left: 2.5rem solid #f3c5c6;
  z-index: 0;
  -webkit-transform: rotate(90deg);
  transform: rotate(0deg);
}
.done:hover::before {
  border-left: 2.5rem solid #fff;
}

#images,
#play {
  position:relative;
  display:block;
  z-index:100;
  height:100vh;
  background:#fff;
  margin:0; padding:0;
}

@media screen and (max-width: 500px){
#greeting, #howto {
  position: relative;
  width:90vw;
}
h2, #howto {font-size:2.5vw;}
#live {font-size:2vw; line-height:4vw;}
h1, #next {font-size:150%;}
.logo {width:80vw;}
.text {font-size:200%;}
}
