html {
    height: -webkit-fill-available;
}

h1,
h2 {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f3c5c6;
}

h1 img {
    filter: brightness(1.5) invert();
}

header {
    filter: invert();
    mix-blend-mode: difference;
}

h1 b,
h2 b {
    font-weight: 500;
    display: inline-block;
}

h1 b,
footer {
    color: #fff;
}

h1 b {
    padding: 0.5rem;
}

h1 {
    margin-top: 2.5rem;
}

main {
    height: 100vh;
    max-height: -webkit-fill-available;
}

footer button {
    transition: 0.5s;
}

header a {
    border-radius: 0.5rem;
    color: #fff;
    padding: 0.25rem;
    transition: 0.5s;
}

[name="twenty"] {
    border-radius: 0.5rem;
    padding: 0.5rem;
}

header a:hover,
footer button:hover,
[name="twenty"] {
    color: #f3c5c6;
    background: #fff;
}

article {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
    gap: 1rem;
    margin: 1rem;
}

article section {
    background: #fff;
    border-radius: 1rem;
    flex: 2 500px;
    padding: 0.5rem 1.5rem;
}

article section div {
    background: #f3c5c6;
    color: #fff;
    border-radius: 2rem;
    padding: 1.5rem;
    margin: 0 2rem 0.5rem 0;
    float: left;
}

@media (orientation: portrait) {
    article section div {
        width: 100%;
        margin: 0 0 1.5rem;
    }
}

article section strong {
    color: #f3c5c6;
    font-size: 150%;
    text-decoration: underline;
}

h1 b,
[name="twenty"] {
  font-size: 125%;
}

article section div u {
    color: #f3c5c6;
    background: #fff;
    border-radius: 0.25rem;
    font-size: 90%;
    text-decoration: none;
    padding: 0.25rem;
}