h1,
h2 {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f3c5c6;
}

h1 {
    pointer-events: none;
    user-select: none;
    margin-top: 2.5rem;
}

h1 img {
    filter: brightness(1.5) invert();
}

h2:hover {
    filter: grayscale() opacity(0.5);
}

h1 b,
h2 b {
    display: inline-block;
}

h1 b,
footer {
    color: #fff;
    padding: 0.5rem;
}

h2 b {
    color: #f3c5c6;
    margin-bottom: 2.5rem;
}

main {
    height: 100vh;
    max-height: -webkit-fill-available;
}

h1,
h2 {
    position: relative;
    z-index: 1;
}

h2 {
    cursor: pointer;
    text-align: center;
}

h2,
footer button {
    border-radius: 0.5rem;
    transition: 0.5s;
}

#live {
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

#randomdraggable li {
    max-width: 7rem;
}

#randomdraggable li video {
    border: solid 0.2rem transparent;
    border-radius: 0.25rem;
    background: #000;
    transition: 0.5s;
    max-width: 7rem;
    height: 100%;
}

#randomdraggable li video:hover {
    border: solid 0.2rem #fff;
}

header a {
    border-radius: 0.5rem;
    color: #fff;
    padding: 0.25rem;
    transition: 0.5s;
}

[name="twenty"] {
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 125%;
}

header a:hover,
footer button:hover,
[name="twenty"] {
    color: #f3c5c6;
    background: #fff;
}

h2 button {
    background-image: url(../../inn/icon.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    max-width: 20vw;
    max-height: 20vw;
}

article {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
    gap: 1rem;
    margin: 1rem;
}

article section {
    background: #fff;
    border-radius: 1rem;
    flex: 2 500px;
    padding: 1.5rem;
}

article section div {
    background: #f3c5c6;
    color: #fff;
    border-radius: 2rem;
    padding: 1.5rem;
    margin: 0 1rem 1rem 0;
    float: left;
}

@media (orientation: portrait) {
    article section div {
        width: 100%;
        margin: 0 0 1rem;
    }
}

article section strong {
    color: #f3c5c6;
    font-size: 150%;
    text-decoration: underline;
}

article section div u {
    color: #f3c5c6;
    background: #fff;
    border-radius: 0.25rem;
    font-size: 90%;
    text-decoration: none;
    padding: 0.25rem;
}
