#onmouse_button {
  position:absolute;
  z-index:100;
  width:4.5vw;
  height:4.5vw;
  color:#f3c5c6;
  font-size:4.5vw;
  display:table-cell;
  text-align:center;
  vertical-align:middle;
  padding:0.5vw;
  border:solid #f3c5c6;
  border-radius:50%;
  font-family: 'arial',sans-serif;
}
#onmouse_button:hover {
  color:#fff;
  background:#f3c5c6;
  cursor:pointer;
}
#onmouse {
  z-index:100;
  pointer-events:none;
  position:fixed;
  width:100%;
  height:100%;
  bottom:0; left:0;
  opacity: 0;
	-webkit-transition: opacity 1s linear;
	transition: opacity 1s linear;
}
#onmouse_open {
  font-size:1rem;
  overflow:hidden;
  position:absolute;
  top:50%; left:50%;
  width:75%; max-height:75%;
  padding:2.5%;
  background-color:rgba(255,255,255,0.75);
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
}
#onmouse_button:hover + #onmouse {
  opacity: 1;
}